
  <md-sidenav class="md-whiteframe-z2"
              md-is-locked-open="$mdMedia('gt-md')" 
              md-component-id="left" >
    <md-toolbar class="md-tall ">
      <h1>Logo</h1>
      <small>Otras cosas...</small>
      <md-toolbar>
    <md-content>
      <h3>aja</h3>
    </md-content>
  </md-sidenav>
<!--<md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id="left"-->
  <!--<md-toolbar class="md-tall md-hue-2">-->
    <!--<span flex></span>-->
    <!--<div layout="column" class="md-toolbar-tools-bottom inset">-->
      <!--<user-avatar></user-avatar>-->
      <!--<span></span>-->
      <!--<div>Firstname Lastname</div>-->
      <!--<div>email@domainname.com</div>-->
    <!--</div>-->
  <!--</md-toolbar>-->
  <!--<md-list>-->
    <!--<md-item ng-repeat="item in menu">-->
      <!--<a>-->
        <!--<md-item-content md-ink-ripple layout="row" layout-align="start center">-->
          <!--<div class="inset">-->
            <!--<ng-md-icon icon="{{item.icon}}"></ng-md-icon>-->
          <!--</div>-->
          <!--<div class="inset">{{item.title}}-->
          <!--</div>-->
        <!--</md-item-content>-->
      <!--</a>-->
    <!--</md-item>-->
  <!--</md-list>-->
<!--</md-sidenav>-->
